@import "../../../material-kit/material-kit.scss";
@import "../../../slick/slick.scss";

@mixin img-square($fit: cover) {
    position: relative;
    display: block;
    padding-bottom: 100%;
    overflow: hidden;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: $fit;
    }
}

.btn {
    &-outline {
        &-primary {
            &:not(:disabled):not(.disabled) {
                transition:
                    box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
                    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
                    color 0.2s cubic-bezier(0.4, 0, 0.2, 1);

                &:hover,
                &:focus {
                    background-color: $btn-primary-bg;
                    color: $btn-primary-color;
                }
                &:active:focus {
                    @include button-shadow-color($btn-primary-bg);
                }
            }
        }
    }
}

.slick {
    @extend .carousel;
    padding-bottom: 20px;

    &-indicators {
        list-style-type: none;

        li {
            button {
                display: none;
            }
            &.slick-active {
                margin-top: 10px;
                transform: scale(1.5);
                box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
            }
        }
    }
}

.navbar {
    & &-brand {
        padding-left: 44px;
        background: url('../../../images/logo.svg') left center no-repeat;
        background-size: 36px;
        font-size: 20px;
        transition:
            padding-left 150ms ease 0s,
            background-size 150ms ease 0s,
            font-size 150ms ease 0s;
    }

    &-transparent &-brand {
        // padding-left: 60px;
        // background-size: 50px;
        // font-size: 24px;
    }
    &-transparent .nav-item.active {
        @include media-breakpoint-down(md) {
            color: $navbar-color;
        };
    }

    &-translate {
        z-index: 1033;
    }
    &-collapse {
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            display: block;
            width: 50px;
            height: 70px;
            transform: translate3d(-100%, 0, 0);
            background-color: transparent;
            transition: background-color 150ms ease 0s;
        }
        .navbar:not(.navbar-transparent) &:before {
            background: $white;
        }

        .nav-open & {
            @include shadow-16dp();
        }

        @include media-breakpoint-down(md) {
            padding-top: 10px;
        };
    }
}
.brand,
.navbar-brand {
    text-transform: uppercase;
    font-weight: bold;
}
.amp {
    // font-family: "Roboto Slab","Times New Roman",serif;
    font-family: 'Noto Serif', serif;
    margin-right: .06em;
}
.dropdown {
    &-item {
        &.active {
            background-color: rgba(0, 0, 0, 0.08);
        }
    }
}

.page-header {
    &.header-small {
        height: 240px;
        min-height: 240px;
        padding-top: 110px;
        align-items: flex-start;
    }
    &.header-medium {
        height: 300px;
        min-height: 300px;
        padding-top: 110px;
        align-items: flex-start;
    }

    @include media-breakpoint-down(sm) {
        .title {
            font-size: 20px;
            line-height: 1.3em;
        }
        h4 {
            font-size: 16px;
            line-height: 1.4em;
        }
    };
}
.header-slider {
    color: $white;
    min-height: 430px;

    .header-slide {
        display: flex;
        align-items: center;
        width: 100%;
        height: 90vh;
        min-height: 430px;
        overflow: hidden;
        margin: 0;
        padding: 0;
        background-position: center center;
        background-size: cover;
        border: 0;

        @include media-breakpoint-down(sm) {
            align-items: flex-start;
            padding-top: 86px;
        };
    }
}

.main {
    padding: 20px 0;

    &-raised {
        @include media-breakpoint-down(sm) {
            margin: -30px 15px 0;
        };
    }

    @include media-breakpoint-down(sm) {
        // .section {
        //     padding: 40px 0;
        // }
        .info {
            display: flex;
            flex-flow: row wrap;
            padding: 40px 0 20px;
            max-width: none;

            &-title {
                margin: 0.5rem 0;
            }

            .icon {
                display: flex;
                align-items: center;
                margin-right: 15px;

                > i {
                   font-size: 2rem;
               }
            }

            p {
                flex: 1 0 100%;
                text-align: left;
            }
        }
    };
}
.section {
    padding: 0;
    margin: 30px 0;

    &.filters {
        display: flex;
        flex-direction: column;
    }
}

.list {
    text-align: left;
    padding-left: 0;
    width: 100%;

    li {
        width: 100%;
        padding: 10px 0;
        line-height: 1.5em;
        @include clearfix;
    }
    li + li {
        border-top: 1px solid rgba($black-color, 0.2);
    }

    &__label {
        padding: 7px 0;
        font-weight: $font-weight-extra-bold;
        font-family: $font-family-serif;
        color: $black-color;
    }

    .date {
        float: left;
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 1em;
        padding-top: .34em;
        white-space: nowrap;

        i {
            font-size: 1.1em;
            margin-top: -.1em;
            margin-right: .3em;
        }

        &:after {
            content: '|';
            display: inline-block;
            margin-left: 5px;
            font-size: 1.2em;
        }
    }
    a {
        padding: 0;
        font-size: 14px;
        font-weight: normal;
        text-transform: none;
        text-align: left;
        line-height: 1.5em;
    }

    &.card-body {
        padding: {
            right: 0;
            bottom: 0;
            left: 0;
        }

        li {
            padding: 0 30px;
        }
    }
}
.description-list {
    display: table;

    li {
        display: table-row;
        padding: 0;
        border: 0;

        .li-col {
            display: table-cell;
            padding: 10px 0;
            // line-height: 1;
            line-height: 1.5em;
            vertical-align: top;
            @include clearfix;

            &.li-label {
                padding-right: 5px;
                white-space: nowrap;

                &-strong {
                    // font-weight: 500;
                    font-weight: $font-weight-extra-bold;
                    font-family: $font-family-serif;
                    color: $black-color;
                }
            }
        }
    }
    li + li {
        .li-col {
            border-top: 1px solid rgba($black-color, 0.2);
        }
    }

    &.card-body {
        padding: {
            right: 0;
            left: 0;
        }

        li {
            padding: 0;

            .li-col {
                &.li-label {
                    padding-left: 30px;
                }
                &.li-description {
                    padding-right: 30px;
                }
            }
        }
    }

    &--editable {
        li {
            .li-label {
                padding-top: 17px;
            }
        }
    }
}

footer {
    display: block;
    padding: 0;
}
.footer {
    &-menu {
        padding: 30px;
        text-align: left;

        .list a {
            color: inherit;

            &:hover {
                color: darken($link-color, 5%);
            }
        }
    }
    &-menu &-text {
        padding-top: 8px;
    }

    @include media-breakpoint-up(md) {
        .copyright {
            float: left;
        }
        nav {
            float: right;
        }
    };
    @include media-breakpoint-down(sm) {
        .copyright {
            padding: 15px 0 0;
        }
        nav {
            padding: 10px 0;
            ul {
                li {
                    a {
                        padding: .4rem;
                    }
                }
            }
        }
    };
}

.modal-backdrop {
    &.show {
        opacity: 0.8;
    }
}


.pagination {
    > .page {
        &-item {
            @include media-breakpoint-down(sm) {
                &:not(.active):not(:first-child):not(:last-child) {
                    display: none;
                }
            };
        }
    }
}



.img {
    &-square {
        @include img-square;
    }
}
.price {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    margin: 0.6rem 0 1rem;
    font-size: 18px;
    font-weight: 500;

    &-item {
        line-height: 1;

        & + & {
            margin-left: .2em;
        }

        &--old {
            font-size: .8em;
            text-decoration: line-through;
            // color: lighten($gray-dark, 20%);
            color: lighten($brand-rose, 20%);
        }
        &--new {

        }
        &--disabled {
            color: lighten($gray-dark, 60%);
        }
    }
}

.product {
    &-img {
        z-index: 1;
        @include img-square(contain);

        &-wrapper {
            padding: 30px 30px 0;
        }
    }

    .card {
        &-header {
            position: relative;
            z-index: 2;
            margin-bottom: -26px;
        }
    }
}
.card {
    &-blog {
        .card-title {
            font-size: 18px;
            line-height: 1.3em;
        }
        .date {
            margin: -5px 0 5px;
            font-size: 12px;

            i {
                vertical-align: middle;
                font-size: 1.3em;
                opacity: 0.7;
            }
        }

        &.card-plain .card-body {
            @include media-breakpoint-up(md) {
                padding: 0;
            };
        }
    }
    &-header {
        &-wrapper {
            display: block;
        }
        &-cover {
            margin: -10px -10px -25px;
            padding: 10px 10px 25px;
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                height: 100%;
                object-fit: cover;
            }
        }

        &.height-220 {
            height: 220px;
        }
    }
}
.card-map {
    overflow: hidden;

    &-bottom {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
}
.nav {
    &-news {
        justify-content: center;
        margin-bottom: 30px;
    }
}

.editable {
    position: relative;

    &__represent,
    &__field {
        display: flex;
        flex-flow: row nowrap;
        padding: 7px 0;

        input,
        .value,
        .bmd-form-group {
            flex: 1 1 auto;
        }

        .bmd-form-group {
            padding-top: 0;
            margin: -7px 0;
        }

        .value {
            line-height: 22px;
        }

        a[data-editable] {
            display: inline-block;
            flex: 0 0 auto;
            // width: 80px;
            margin-left: 10px;
            text-align: right;
            // position: absolute;
            // height: 21px;
            // right: 0;
            // top: 0;
            // bottom: 0;
            // margin: auto;
        }
    }

    &__form {
        .btn {
            margin-top: .6rem;
        }
    }

    &:not(.editing) &__field,
    &:not(.editing) &__form,
    &.editing &__represent {
        display: none
    }
}
