@import "../../../material-kit/material-kit.scss";
@import "../../../slick/slick.scss";

.slick {
    @extend .carousel;
    padding-bottom: 20px;

    &-indicators {
        list-style-type: none;

        li {
            button {
                display: none;
            }
            &.slick-active {
                margin-top: 10px;
                transform: scale(1.5);
                box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
            }
        }
    }
}

.navbar {
    & &-brand {
        padding-left: 44px;
        background: url('../../../images/logo.svg') left center no-repeat;
        background-size: 36px;
        font-size: 20px;
        transition:
            padding-left 150ms ease 0s,
            background-size 150ms ease 0s,
            font-size 150ms ease 0s;
    }

    &-transparent &-brand {
        padding-left: 60px;

        background-size: 50px;
        font-size: 24px;
    }
    &-transparent .nav-item.active {
        @include media-breakpoint-down(md) {
            color: $navbar-color;
        };
    }

    &-translate {
        z-index: 1033;
    }
    &-collapse {
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            display: block;
            width: 50px;
            height: 70px;
            transform: translate3d(-100%, 0, 0);
            background-color: transparent;
            transition: background-color 150ms ease 0s;
        }
        .navbar:not(.navbar-transparent) &:before {
            background: $white;
        }

        .nav-open & {
            @include shadow-16dp();
        }

        @include media-breakpoint-down(md) {
            padding-top: 10px;
        };
    }
}
.brand,
.navbar-brand {
    text-transform: uppercase;
    font-weight: bold;
}
.amp {
    // font-family: "Roboto Slab","Times New Roman",serif;
    font-family: 'Noto Serif', serif;
    margin-right: .06em;
}

.page-header {
    @include media-breakpoint-down(sm) {
        .title {
            font-size: 20px;
            line-height: 1.3em;
        }
        h4 {
            font-size: 16px;
            line-height: 1.4em;
        }
    };
}
.header-slider {
    color: $white;
    min-height: 430px;

    .header-slide {
        display: flex;
        align-items: center;
        width: 100%;
        height: 90vh;
        min-height: 430px;
        overflow: hidden;
        margin: 0;
        padding: 0;
        background-position: center center;
        background-size: cover;
        border: 0;

        @include media-breakpoint-down(sm) {
            align-items: flex-start;
            padding-top: 86px;
        };
    }
}

.main {
    &-raised {
        @include media-breakpoint-down(sm) {
            margin: -30px 15px 0;
        };
    }

    @include media-breakpoint-down(sm) {
        .section {
            padding: 40px 0;
        }
        .info {
            display: flex;
            flex-flow: row wrap;
            padding: 40px 0 20px;
            max-width: none;

            &-title {
                margin: 0.5rem 0;
            }

            .icon {
                display: flex;
                align-items: center;
                margin-right: 15px;

                > i {
                   font-size: 2rem;
               }
            }

            p {
                flex: 1 0 100%;
                text-align: left;
            }
        }
    };
}

.list {
    text-align: left;

    li {
        width: 100%;
        padding: 10px 0;
        @include clearfix;
    }
    li + li {
        border-top: 1px solid rgba($black-color, 0.2);
    }

    .date {
        float: left;
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 1em;
        padding-top: .34em;
        white-space: nowrap;

        i {
            font-size: 1.1em;
            margin-top: -.1em;
            margin-right: .3em;
        }

        &:after {
            content: '|';
            display: inline-block;
            margin: 0 5px;
            font-size: 1.2em;
        }
    }
    a {
        padding: 0;
        line-height: 1.5em;
        font-size: 14px;
        font-weight: normal;
        text-transform: none;
        text-align: left;
    }
}
.description-list {
    display: table;

    li {
        display: table-row;
        padding: 0;
        border: 0;

        .li-col {
            display: table-cell;
            padding: 10px 0;
            line-height: 1;
            vertical-align: top;
            @include clearfix;
        }
    }
    li + li {
        .li-col {
            border-top: 1px solid rgba($black-color, 0.2);
        }
    }
}

footer {
    display: block;
    padding: 0;
}
.footer {
    &-menu {
        padding: 30px;
        text-align: left;

        .list a {
            color: inherit;

            &:hover {
                color: darken($link-color, 5%);
            }
        }
    }
    &-menu &-text {
        padding-top: 8px;
    }

    @include media-breakpoint-up(md) {
        .copyright {
            float: left;
        }
        nav {
            float: right;
        }
    };
    @include media-breakpoint-down(sm) {
        .copyright {
            padding: 15px 0 0;
        }
        nav {
            padding: 10px 0;
            ul {
                li {
                    a {
                        padding: .4rem;
                    }
                }
            }
        }
    };
}
